@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: theme("colors.neutral.100");
}

main {
	margin-top: 66px;
	min-height: 100vh;
}

@layer components {
	.column-wrapper {
		max-width: 1480px;
		margin-inline: auto;
		padding: theme("spacing.8");


	}
}

@layer utilities {
	.center-absolute {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
